body {
  display: flex;
  justify-content: center;
  background-color: #9bd8f0;
  height: calc(100vh - 23px);
  width: calc(100% - 23px);
  border: 12px solid #FAD36D;
  margin: 0;
}

.panel {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #222B4300;
  border-radius: 10px;
  width: 100%;
  margin: 20px;
}

.panel-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 41%;
}

.panel-right-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.panel-direction-button {
  height: calc(100% / 3.5);
}


.panel-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% / 4.2);
  height: 100%;
  margin-right: 10px;
}

.hight100 {
  height: 100%;
}

button {
  border: none;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: rgb(220, 220, 220);
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4),0 17px 50px 0 rgba(0,0,0,0.2);
  
  user-select:none; /* standard syntax */
  -webkit-user-select:none; /* for Chrome、Safari */
  -moz-user-select:none;  /* for Mozilla、Firefox */
}

.button-touched {
  transform: scale(0.8);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.plus-one {  
  animation-name: plus-one;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes plus-one {
  0% { transform: translate(0,  0px); opacity: 1; }
  100%  { transform: translate(0, -30px); opacity: 0.2; }
}

.status-dot {
  position: fixed;
  top: 10%;
  left: 48%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.status-waiting {
  background-color: orange;
}

.status-ready {
  background-color: lime;
}

.status-stopped {
  background-color: red;
}

.switch {
  position: relative;
  display: inline-block;
  height: 80%;
  aspect-ratio: 1 / 3;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  bottom: 5%;
  width: 80%;
  aspect-ratio: 1 / 1;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  justify-self: center;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateY(-220%);
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider .up {
  top: 10%
}

.slider .down {
  bottom: 10%;
}