body {
  display: flex;
  justify-content: center;
  background-color: #9bd8f0;
  height: calc(100vh - 23px);
  width: calc(100% - 23px);
  border: 12px solid #FAD36D;
  margin: 0;
}

.panel {
  display: flex;
  background-color: #222B4300;
  border-radius: 10px;
  width: 100%;
  padding-top: 3%;
  margin: 20px;
}

.width100 {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.padding-left10vw {
  padding-left: 10vw;
}

.padding-right10vw {
  padding-right: 10vw;
}

.margin-top {
  margin-top: 0.8vh;
}

.margin-bottom {
  margin-bottom: 0.8vh;
}

button {
  border: none;
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
  background-color: rgb(220, 220, 220);
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4),0 17px 50px 0 rgba(0,0,0,0.2);
  
  user-select:none; /* standard syntax */
  -webkit-user-select:none; /* for Chrome、Safari */
  -moz-user-select:none;  /* for Mozilla、Firefox */
}

.button-touched {
  transform: scale(0.8);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.plus-one {  
  animation-name: plus-one;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes plus-one {
  0% { transform: translate(0,  0px); opacity: 1; }
  100%  { transform: translate(0, -30px); opacity: 0.2; }
}